@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--fonts: "Inter", Arial, sans-serif;
	--main-font: "Chakra Petch", sans-serif;

	/* Colors */
	--color-white: #ffffff;
	--color-black: #000000;
	--color-purple-dark: #800080;
	--color-red-light: #ff5e5e;
	--color-red-dark: #ff0000;
	--color-green-light: #76ff76;
	--color-green-dark: #00ff00;
	--color-blue-light: #5e5eff;
	--color-blue-dark: #0000ff;
	--color-yellow-light: #ffff76;
	--color-yellow-dark: #ffff00;
	--color-grey-light: #eeeeee;
	--color-grey-medium: #e0e0e0;
	--color-grey-dark: #bdbdbd;

	/* Button & Shadow Colors */
	--button-font-light: var(--color-white);
	--button-bg-color-dark: var(--color-purple-dark);
	--game-button-bg-color: var(--color-white);
	--game-button-font-color: var(--color-black);
	--font-color: var(--color-white);
	--bg-color: var(--color-black);
	--button-hover-color: var(--color-grey-light);
	--button-active-color: var(--color-grey-medium);
	--button-shadow-color: rgba(0, 0, 0, 0.4);
	--button-hover-shadow-color: rgba(0, 0, 0, 0.5);
	--color-button-shadow-color: rgba(0, 0, 0, 0.25);
	--color-button-active-shadow: rgba(0, 0, 0, 0.5);
	--color-button-active-glow: rgba(255, 255, 255, 0.7);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--fonts);
	color: var(--font-color);
	background: linear-gradient(120deg, var(--bg-color), #1a1a1a);
	background-size: 400% 400%;
	animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
	margin-bottom: 15px;
}

.start-page {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.responsive-logo {
	width: 100%;
	height: auto;
	max-width: 250px;
}

.main-title {
	font-family: var(--main-font);
}

.button-container {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 20px auto;
	border-radius: 50%;
}

.color-button {
	position: absolute;
	width: 50%;
	height: 50%;
	border-radius: 100% 0 0 0;
	cursor: pointer;
	transition: transform 0.1s ease, box-shadow 0.2s ease;
	box-shadow: 0 4px 8px var(--color-button-shadow-color);
}

.color-button.red {
	background: linear-gradient(
		145deg,
		var(--color-red-light),
		var(--color-red-dark)
	);
	top: 0;
	left: 0;
}

.color-button.green {
	background: linear-gradient(
		145deg,
		var(--color-green-light),
		var(--color-green-dark)
	);
	top: 0;
	right: 0;
	border-radius: 0 100% 0 0;
}

.color-button.blue {
	background: linear-gradient(
		145deg,
		var(--color-blue-light),
		var(--color-blue-dark)
	);
	bottom: 0;
	left: 0;
	border-radius: 0 0 0 100%;
}

.color-button.yellow {
	background: linear-gradient(
		145deg,
		var(--color-yellow-light),
		var(--color-yellow-dark)
	);
	bottom: 0;
	right: 0;
	border-radius: 0 0 100% 0;
}

.color-button:active {
	transform: scale(0.95);
	box-shadow: 0 2px 4px var(--color-button-active-shadow);
}

.color-button:hover {
	filter: brightness(1.1);
	transform: scale(1.05);
}

.color-button.active {
	box-shadow: 0 0 15px 5px var(--color-button-active-glow);
	opacity: 1;
	transition: box-shadow 0.2s ease;
}

button {
	background: var(--button-bg-color-dark);
	color: var(--button-font-light);
}

.game-button {
	background: var(--game-button-bg-color);
	color: var(--game-button-font-color);
	padding: 15px 25px;
	border-radius: 8px;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 3px 10px var(--button-shadow-color);
}

button.game-button:hover {
	background-color: var(--button-hover-color);
	box-shadow: 0 6px 12px var(--button-hover-shadow-color);
}

button.game-button:active {
	background-color: var(--button-active-color);
	transform: scale(0.98);
}
